@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;900&display=swap');

$white: #FFFFFF;
$dark: #1F172E;
$green-accent: #71B9AC;
$blue-accent: #B8D8E1;
$purple-accent: #856B9C;
$pink-accent: #CC95B4;

html {
  font-size: 16px;
}

body {
  background: url('/images/memphis-mini.png');
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
  color: $dark;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

footer {
  background-color: $dark;
  color: $white;
  font-weight: 100;
}

.section-wrapper {
  background-color: $white;
  box-shadow: 2px 2px 5px #e3e0e0;
  border-radius: .25rem;
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  margin-bottom: 1rem;
  &.bg-green {
    background-color: $green-accent;
    color: $white;
  }
}

.breed-card-wrapper {
  flex-direction: column;

  .prev-next-button-wrap {
    margin: 1rem auto 2rem auto;
    width: auto;
    text-align: center;
  }

  .image img {
    max-width: 300px;
  }

  .attributes-yes-no, .attributes-points {
    .attribute-icon {
      margin-right: .5rem;
      &.no {
        color: red;
      }
      &.yes {
        color: green;
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }

  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    
    .prev-next-button-wrap {
      margin: 0;
      width: 200px;
    }
  }
}
