@import "~bootstrap/scss/bootstrap";

.breed-card-wrapper {
  flex-direction: column;

  .button-wrap {
    margin: 1rem auto 2rem auto;
    width: auto;
  }
  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    
    .button-wrap {
      margin: 0;
      width: 6rem;
    }
  }
}

body {
  margin-bottom: 5rem;
}