@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;900&display=swap');

$white: #FFFFFF;
$dark: #1F172E;
$green-accent: #4FBBA8;
$blue-accent: #A9D1DB;
$purple-accent: rgb(155, 82, 221);
$pink-accent: rgb(230, 83, 197);
$gradient-purple: linear-gradient(90deg, rgb(155, 82, 221) 0%, rgb(188, 89, 223) 43%, rgb(230, 83, 197) 100%);
$gradient-purple-fallback: rgb(166,114,213);
$gradient-blue: linear-gradient(90deg, rgba(34,82,218,1) 0%, rgba(69,152,247,1) 100%); 
$gradient-blue-fallback: rgb(34,82,218);
$border: #F2F2F2;

/* Mobile First */
html {
  font-size: 16px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url('/images/memphis-mini.png');
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
  color: $dark;
}

header {
  background-color: $white;
  border-bottom: 1px solid $border;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

nav {
  background: $blue-accent;
  border-bottom: 1px solid $border;
}

p {
  margin-bottom: 0;
}

.main-two-column-section {
  display: flex;
  flex-direction: column;
}

.link-primary {
  color: $dark!important;
  font-weight: 500;
  display: inline-block;
  transition: color 0.5s;
  &:hover, &:active, &:focus {
    color: $purple-accent!important;
    transition: color 0.5s;
  }
}
.external-link {
  color: $purple-accent;
}

.cat-stats-icon {
  width: 4rem;
  margin-right: .75rem;
  fill: $gradient-purple-fallback;
  fill: $gradient-purple;
}

.btn {
  &.random-button {
    background: $gradient-purple-fallback;
    background: $gradient-purple;
  }
  &.prev-button, &.next-button  {
    background: $gradient-blue-fallback;
    background: $gradient-blue;
  }
  &.prev-button {
    margin-right: 2rem;
  }
  border-radius: 1.5rem;
  padding: .5rem 1.5rem;
  border: none;
  font-weight: 700;
  color: $white;
  font-size: 1.1rem;
  opacity: 1;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
  }
  &:disabled {
      opacity: 0.2;
      transition: opacity 0.5s;
  }
  @media screen and (min-width: 992px) {
    &.random-button {
      margin-right: 2rem;
    }
  }
}

footer {
  background-color: $dark;
  color: $white;
  font-weight: 300;
}

.section-wrapper {
  background-color: $white;
  box-shadow: 2px 2px 5px #e3e0e0;
  border-radius: .25rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  &.bg-green {
    background-color: $green-accent;
    color: $white;
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  border: 1px solid #F2F2F2;
}

nav .container-fluid {
  flex-direction: column;

  .breeds-select {
    margin-bottom: 1.5rem;
  }

  .prev-next-button-wrap {
    margin-top: 1.5rem;
  }

  .random-button-wrap {
    margin-top: .25rem;
  }
}

.breed-card-wrapper {
  flex-direction: column;

  .breed-card {
    width: 1440px;
    max-width: 100%;
  }

  .image img {
    max-width: 300px;
  }

  .attributes-yes-no, .attributes-points {
    .attribute-icon {
      margin-right: .5rem;
      &.no {
        color: $pink-accent;
      }
      &.yes {
        color: $green-accent;
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }

  .attributes-points {
    .points-value {
      color: $pink-accent;
      font-weight: 500;
      margin-left: .5rem;
    }
    @media screen and (min-width: 1200px) {
      ul {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    .image img {
      max-width: 500px;
    }
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  nav .container-fluid {
    flex-direction: row;

    .breeds-select {
      margin-right: 2rem;
      margin-bottom: 0;
    }

    .prev-next-button-wrap, .random-button-wrap {
      margin-top: 0;
    }
  }

  .main-two-column-section {
    flex-direction: row;
    justify-content: space-between;
    
    .details-column {
      width: 100%;
      margin-left: 2rem;
    }
  }
  .two-column-inner-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .section-wrapper {
      width: 100%;
      &.attributes-yes-no {
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
  }
  .three-column-inner-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .section-wrapper {
      width: 100%;
      &.lifespan, &.origin {
        margin-right: 1rem;
      }
    }
    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 1200px) {
    .attributes-points.section-wrapper > * li{
      text-align: left;
    }
  }
}
