@import "~bootstrap/scss/bootstrap";

.breed-card-wrapper {
  flex-direction: column;

  .prev-next-button-wrap {
    margin: 1rem auto 2rem auto;
    width: auto;
  }

  .image img {
    max-width: 300px;
  }

  .attributes-yes-no, .attributes-points {
    .attribute-icon {
      margin-right: .5rem;
      &.no {
        color: red;
      }
      &.yes {
        color: green;
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }

  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    
    .prev-next-button-wrap {
      margin: 0;
      width: 200px;
    }
  }
}
