@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;900&display=swap');

$white: #FFFFFF;
$dark: #1F172E;
$green-accent: #71B9AC;
$blue-accent: #B8D8E1;
$purple-accent: #856B9C;
$pink-accent: #CC95B4;
$gradient-purple: linear-gradient(90deg, rgb(155, 82, 221) 0%, rgb(188, 89, 223) 43%, rgb(230, 83, 197) 100%);
$gradient-purple-fallback: rgb(166,114,213);
$gradient-blue: linear-gradient(90deg, rgba(34,82,218,1) 0%, rgba(69,152,247,1) 100%); 
$gradient-blue-fallback: rgb(34,82,218);

html {
  font-size: 16px;
}

body {
  background: url('/images/memphis-mini.png');
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.25rem;
  color: $dark;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

nav {
  background: $blue-accent;
}

.btn {
  &.random-button {
    background: $gradient-purple-fallback;
    background: $gradient-purple;
  }
  &.prev-button, &.next-button  {
    background: $gradient-blue-fallback;
    background: $gradient-blue;
  }
  border-radius: 1.5rem;
  padding: .5rem 1.5rem;
  border: none;
  font-weight: 700;
  color: $white;
  font-size: 1.1rem;
  opacity: 1;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
  }
  &:disabled {
      visibility: hidden;
  }
}

footer {
  background-color: $dark;
  color: $white;
  font-weight: 100;
}

.section-wrapper {
  background-color: $white;
  box-shadow: 2px 2px 5px #e3e0e0;
  border-radius: .25rem;
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  margin-bottom: 1rem;
  &.bg-green {
    background-color: $green-accent;
    color: $white;
  }
}

nav .container-fluid {
  flex-direction: column;

  .breeds-select {
    margin-bottom: 1.5rem;
  }

  .prev-next-button-wrap, .random-button-wrap {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  nav .container-fluid {
    flex-direction: row;

    .breeds-select {
      margin-right: 2rem;
      margin-bottom: 0;
    }

    .prev-next-button-wrap, .random-button-wrap {
      margin-right: 2rem;
      margin-top: 0;
    }
  }
}

.breed-card-wrapper {
  flex-direction: column;

  .image img {
    max-width: 300px;
  }

  .attributes-yes-no, .attributes-points {
    .attribute-icon {
      margin-right: .5rem;
      &.no {
        color: red;
      }
      &.yes {
        color: green;
      }
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
    }
  }

  @media screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
  }
}
